html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue Condensed Bold';
  color: #fff;
  overflow-y: auto;
  background: #0C1422;
  background-color: #0C1422;
  height: 100vh;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body #root .dapp-core-ui-wrapper {
  height: 100%;
}

body.flip-coin #root .dapp-core-ui-wrapper {
  display: none !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Helvetica Neue Condensed Bold';
}

span {
  font-family: 'Jost Semibold';
}

p {
  font-family: 'Helvetica Neue Regular';
}

button {
  font-family: 'American Captain';
  cursor: pointer;
}

input {
  font-family: 'Jost Regular';
}

label {
  font-family: 'Jost Regular';
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Helvetica Neue Bold';
  cursor: pointer;
}

.dapp-core-component__main__card-body {
  color: #000;
}

#dapp-modal {
  color: #000;
  z-index: 99999;
}

.dapp-core-component__styles__toasts {
  display: none;
}
.DateInput.DateInput_1 {
  display: none;
}

.transactions-toast-list, .dapp-core-component__transactionStatusToastStyles__transactions-status-toast-content {
  color: black !important;
}

.dapp-core-component__main__h5 {
  margin: 0;
}

.mediapadding {
  @media screen and (max-width: 600px) {
    padding: '4px 10px';
  }
}

.mediapaddingTop20 {
  @media screen and (max-width: 600px) {
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .dapp-core-component__main__px-4 {
      min-width: 200px !important;
  }
}

.fire th , td {
  padding: 10px;
}

.fire th {
  font-size: 20px;
}
